body {
    background-color: white;
    margin: 0;
}

.container__titulo {
    font: bold;
    color:white;
    height: 35px;
}

.cabecalho {
    background-color: black;
    height: 60px;
}

.container {
    display: flex;
    align-items: center;
}

.container__frase {
    color: white;
    width: 300px;
    margin-left: 1450px;
}



@media screen and (min-width: 820px) {

    .container__titulo,
    .container__titulo--negrito {
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .container__frase {
        padding-left: 5em;
        font-size: 20px;
        display: block;
    }
}

.containerimg {
    width: 60px;
}

